# Git LFS config for tracking project images
src/assets/images/*.webp filter=lfs diff=lfs merge=lfs -text
src/assets/images/*.png filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text